
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    background-color: white;
    width: 90%;
    margin: 0 auto;
    font-family: 'Indie Flower', cursive;
}

#myButton{

  
   font-size: medium;
    text-align: center;
    font-weight: bold;  
    color:black;
    margin-left: 40px;
    padding: 15px;
  background-color:burlywood;

}
h2{
    font-weight: bold;
    font-size: larger;
    color:black;
    font-size: x-large;
    margin-top: 00px;
    background-color:burlywood ;
}


#sec-two{
 float: right;
 margin-right: -44px;
    margin-bottom: 700px;}
 

#sec-one {

float: left;
border: 5px black solid;
}

#unList{ 
font-weight: bold;
font-size: large;
color: black;
background-color: burlywood;
float: right; 

}


h3{
    
    width: 60%;
    height: 40%;
 font-size: x-large;
    margin-top: 180px;
    background-color: 
    #F2BA77;
    margin-right: 80px;
    border: solid black;}

.chart-container{
    height: 600px;
    width: 600px;
   
     margin-left: 200px;
     margin-top: 200px;
}


footer{
    width: 100%;
    height: 40px;
    background-color:burlywood ;
    text-align: center;
    color: black;
    font-size: x-large;
    font-weight: bold;
}